<mat-card class="mat-whiteframe-2dp">
  <mat-card-title> <span>➕ Créer un(e) employé(e)</span> </mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="form">

      <p [class.errors]="form.get('title')!.invalid && (form.get('title')!.dirty || form.get('title')!.touched)">
        <mat-form-field>
          <mat-label>Titre</mat-label>
          <input formControlName="title" name="title" matInput placeholder="Ex: Highway to Hell" required/>
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['required']"><br />Le titre est obligatoire</mat-error>
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['minlength']"><br />Le titre doit avoir au moins 2 caractères </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label><mat-icon>mic</mat-icon> Artiste</mat-label>
          <input matInput placeholder="Ex: AC/DC" style="width:100%" name="artist" formControlName="artist" required />
          <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['required']"><br />L'artiste est obligatoire</mat-error>
        </mat-form-field>
      </p>

      <p [class.errors]="form.get('album')!.invalid && (form.get('album')!.dirty || form.get('album')!.touched)">
        <mat-form-field>
          <mat-label><mat-icon>album</mat-icon> Album</mat-label>
          <input  matInput placeholder="Ex: Highway to Hell" style="width:100%" name="album" formControlName="album" />
          <mat-error *ngIf="form.get('album')!.dirty && form.get('album')!.errors?.['pattern']"><br />L'album est obligatoire</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label><mat-icon>description</mat-icon> Description</mat-label>
          <input matInput placeholder="Ex: Meilleure musique" style="width:100%" name="description" formControlName="description" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label><mat-icon>timer</mat-icon> Durée</mat-label>
          <input matInput placeholder="Ex: 3:29 min" style="width:100%" name="duration" formControlName="duration" />
        </mat-form-field>
      </p>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date de sortie" name="date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>

      <p>
        <mat-form-field class="chip-list" >
          <mat-label><mat-icon>work</mat-icon> Styles :</mat-label>
          <mat-chip-list #chipList aria-label="Intitulés des fonctions de l'employés">
            <mat-chip *ngFor="let titre of musicModel.styles" (removed)="removeChipset(titre)" >
              {{titre}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Ex: Rock..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addChipset($event)">
          </mat-chip-list>
        </mat-form-field>
      </p>

      <input #fileInput type="file" (change)="onFileSelected($event)"  name="photo" style="display: none;" accept=".png,.jpg" />
      <div *ngIf="musicModel.picture" >
        <img width="100" src="{{musicModel.picture}}" alt="Photo de l'employé" /> <br>
        <button mat-flat-button color="warn" (click)="musicModel.picture = null;">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </div>
      <div class="file-upload" *ngIf="!musicModel.picture">
        <button type="button" (click)="fileInput.click()" mat-fab>
          <mat-icon>
            image
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Annuler</button>
    <button mat-button type="submit" color="primary" (click)="submit(form.value)" [disabled]="!form.valid">Valider</button>
  </mat-card-actions>
</mat-card>
