<mat-card class="carteCustom">
  <mat-card-header>
    <img *ngIf="music?.picture" mat-card-avatar [src]="music?.picture" alt="Avatar de l'employé"/>
    <mat-card-title> <span badgeChef [music]="music!"></span> {{music?.title}} </mat-card-title>
    <mat-card-subtitle>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let style of music?.styles">
            <mat-icon class="small">
              music_note
            </mat-icon>
            {{style}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="info">
      <mat-icon>library_music</mat-icon>
      <p>{{music?.album}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>mic</mat-icon>
      <p>{{music?.artist}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>timer</mat-icon>
      <p>{{music?.duration}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>calendar_today</mat-icon>
      <p>{{parseDate(music?.date)}}</p>
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-mini-fab aria-label="Editer" color="accent" [routerLink]="['/edit', music?.id]">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
